*
{
    text-align: center;
    width: 100%;
}

.options
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shipChoice
{
    width :45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipChoice img
{
    margin: 50px;
}

.ships
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button{
    width: 50px;
}

.stageCode input{
    width: 150px;
}
h2{
    text-align: center;
}

.controls{
    width :45%;
    background-color: mediumturquoise ;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.controls img{
    width: 80%;
}

.code{
    width: 100%;
    background-color: burlywood;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.play{
    text-align: center;
}