


.frame{
    /* display: flex; */
    padding:0;
    margin:0;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    background-color: burlywood;

}
.gameContainer{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    background-color: black;
    /* display: flex; */
    /* justify-content: center;     */
}

h2{
    color: white;
    margin: auto;
    margin-left: -12%;
    font-size: 32px;
}
.Life{
    margin-top: 12%;
    margin-left: -9%;
}
mat-progress-bar{
    width:500px;
    height: 30px;
    background-color: red;
    transform: rotate(270deg);
    margin-top: 22%;
    margin-left: -23%;
}
