<div class="frame">
    <div class="gameContainer" #gameContainerElt>
        <h2>Score : {{ getScore() }} </h2>
        <h2 class='Life'> Life : </h2>
        <div class="progressBar">
            <mat-progress-bar mode="determinate" [color]="'warn'" [value]="getLifePercentage()"></mat-progress-bar>
        </div>
        <app-enemy [enemy]='enemy' *ngFor = 'let enemy of enemies'></app-enemy>
        <app-obstacle [obstacle]='obstacle' *ngFor="let obstacle of obstacles"></app-obstacle>
        <app-bonus [bonus]="bonus" *ngFor="let bonus of bonusArray"></app-bonus>
        <app-ammo [ammo]='ammo' *ngFor='let ammo of ammos'></app-ammo>   
        <app-ship [ship]='ship'></app-ship>
        <app-boss [boss]='gameService.boss'></app-boss>
        <app-boss-ammo [bossAmmo]='bossAmmo' *ngFor="let bossAmmo of gameService.bossAmmos"></app-boss-ammo>
        <div class="weelOfElements">
            <img [@animateWeel]=currentState src = "/assets/img/elementsWeel/fourElWeel.png" id="weelAnimation">    
        </div>
       <div>
            <p *ngIf='gamePaused' class='Pause'>PAUSE</p>
            <button *ngIf='gamePaused'><a href="/option">Revenir au Options</a></button>
        </div>
        <div>
            <img class="sound" id='SoundNoMuted' (click)="SoundMuted()" src="https://www.icone-png.com/png/20/20456.png" style="display: block"/>
            <img class="sound" id='SoundMuted' (click)="SoundMuted()" src="https://i.dlpng.com/static/png/4001724-logo-son-png-7-png-image-son-png-1600_1600_preview.png" style="display: none"/>
        </div>
    </div>
</div>



