<div class="frame">
    <div class="gameContainer" #gameContainerElt>
        <h2>Score : {{ getScore() }} </h2>
        <h2 class='Life'> Life : </h2>
        <div class ="DoubleBarLife">
            <div class="progressBar">
                <mat-progress-bar mode="determinate" [color]="'warn'" [value]="getLifePercentage()"></mat-progress-bar>
            </div>
            <div class="progressBarBoss" *ngIf='this.gameService.bossCreated' >
                <mat-progress-bar mode="determinate" [color]="'warn'" [value]="getLifePercentageBoss()"></mat-progress-bar>
            </div>
        </div>
        <app-enemy [enemy]='enemy' *ngFor = 'let enemy of enemies'></app-enemy>
        <app-obstacle [obstacle]='obstacle' *ngFor="let obstacle of obstacles"></app-obstacle>
        <app-bonus [bonus]="bonus" *ngFor="let bonus of bonusArray"></app-bonus>
        <app-ammo [ammo]='ammo' *ngFor='let ammo of ammos'></app-ammo>   
        <app-ship [ship]='ship'></app-ship>
        <app-boss [boss]='gameService.boss'></app-boss>
        <app-boss-ammo [bossAmmo]='bossAmmo' *ngFor="let bossAmmo of gameService.bossAmmos"></app-boss-ammo>
        <div class='imgGame'>
            <div>
                <img class="sound" id='SoundNoMuted' (click)="SoundMuted()" src="https://www.icone-png.com/png/20/20456.png" style="display: block"/>
                <img class="sound" id='SoundMuted' (click)="SoundMuted()" src="../../../assets/img/SoundMuted.png" style="display: none"/>
            </div>
            <div class="weelOfElements">
                <img [@animateWeel]=currentState src = "/assets/img/elementsWeel/fourElWeel.png" id="weelAnimation">    
            </div>
        </div>
    </div>
</div>



