.frame{
    font-size: 10px;
    width: 100%;
    padding:0;
    margin:0;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}

.gameContainer{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    background-color: black;
  
}

.Life{
    margin-top: 5%;
    margin-left: -9%;
}

.shipLife
{
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 10%;
    text-align: center;
    justify-content: space-between
}

.bossLife
{
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 10%;
    text-align: center;
    justify-content: space-around;
}
.imgGame{
    display: flex;
    justify-content: center;
    
}

.imgGame img{
      margin: 0px;
}


.progressBar {
    height: 3%;
    width: 150px;
    transform: rotate(-90deg);
}

.progressBarBoss{

    height: 3%;
    width: 150px;
    transform: rotate(-90deg);
} 

.modal{
    position: fixed;
    top : 0;
    left : 0;
    width : 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.8);
    display:none;
}
.modal-wrapper{
    width: 900px;
    height: 900px;
    margin : auto;
    background-color: rgb(115, 143, 113);
   }
.Pause{
    color: white;
    font-size: 150px;
    margin: auto;
    text-align: center;
    margin-top: -15%;
}
.sound{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

dialog { 
    border: none !important;
  }

  
  
