.containerGameOver {
    height: 570px;
    width: 1300px;
    background-image: url('https://www.seekpng.com/png/detail/65-651523_you-lose-graphic-you-lose.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

button{
    width: 256px;
    height: 50px;
    font-size: 32px;
    cursor: pointer;
    outline-style:none;
}